body {margin:0; padding:0; background:#0e1621; color:#fff; margin: 0 auto; }
* { box-sizing: border-box; }
#navbar { position: fixed; top: 0; height: 23px; display: flex; background-color: #2b5279; width: 100%; z-index: 500; border-bottom:2px solid #1a1c2c; border-right: 2px solid #1a1c2c; }
#navbar
a.nb:hover, a.nb:visited, a.nb:link, a.nb:active { color: #fff; text-decoration: none; }
.id { background-color: #ff5500; color: #fff; padding-left: 10px; padding-right: 5px; }
.main-title { padding-left: 8px; padding-right: 8px; justify-content: center; }
.main-title > a:hover, a:visited, a:link, a:active { color: #fff; text-decoration: none; }
.Topright { justify-content: right; }
#Stop { padding-left: 5px; padding-right: 5px; } /* background-color: #ff5500; color: #000000; } */
.content { padding: 20px; }
.fiche { padding: 3px; display: flex; flex-wrap: wrap; justify-content: center; }
.game { width: 480px; height: 300px; margin: 0; position: relative; background: #1a1c2c; }
.game-frame { cursor: pointer; position: absolute; margin: 0 auto; opacity: 1; background: #1a1c2c; width: 100%; height: 100%; }
.trueFrame { width: 480px; height 300px; }
.fiche .game-pic { text-align: center; color: white; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.pixelated { object-fit: cover; image-rendering: crisp-edges; }
.clkpic { opacity: 0; transition:all 0.5s; position: absolute; }
.clkpic:hover { opacity: 1; transition:all 0.5s; transition-timing-function: ease; position: absolute; }
.fiche .gameCanvas { width: 100%; height: 100%; margin: 0 auto; display: block; image-rendering: pixelated; }
.code { width: 480px; height: 300px; background:#2b5279; color:#FFF;} /* overflow: auto; }*/
.title { padding-top: 8px; padding-left: 10px; padding-right: 10px; margin-top: 5px; background-color: #ff5500; color: #fff; }
b.id { padding-top: 2px; }
.tag { padding-left: 3px; padding-right: 3px; background-color: #da9; color: #000; border: 1px solid; }
.tag > a:hover, a:visited, a:link, a:active { color: #000; text-decoration: none; }
.bytestuff { padding-left: 5px; height: 255px; overflow: auto; }
.code > pre { width: 480px; overflow: auto; }
.code-info { padding-left: 3px; padding-right: 3px; display: flex; }
a.id:hover, a.id:visited, a.id:link, a.id:active { color: #fff; }
.down { padding-right: 2px; }
.length { padding-left: 3px; padding-right: 3px; background-color: #1a1c2c; }
.tags { display: flex; justify-content: right;}

.fiche iframe { width: 100%; height: 100%; border: 0; }
.
.game-frame > div { font-size: 44px; font-family: monospace; font-weight: bold;}
/* You can set custom dimensions here */
.game { width: 480px; height: 300; }
/* Uncomment to remove the frame on top of the canvas and start the game directly */
/* #game-frame { display: none; } */
