body { margin:0; padding:0; background:#0e1621; color:#fff; margin: 0 auto; }
.fiche { display: flex; flex-wrap: wrap; justify-content: left }
.fichepic { width: 480px; height: 300px; margin: 0; position: relative; background: #1a1c2c; }
/* You can set custom dimensions here */
.game { width: 480px; height: 300; }
/* Uncomment to remove the frame on top of the canvas and start the game directly */
/* #game-frame { display: none; } */
.game-frame { cursor: pointer; position: absolute; margin: 0 auto; opacity: 1; background: #1a1c2c; width: 100%; height: 100%; }
.game-pic { text-align: center; color: white; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.clkpic { opacity: 0; transition:all 0.5s; position: absolute; }
:hover .clkpic { opacity: 1; transition:all 0.5s; transition-timing-function: ease; position: absolute; }
.canvasItem { width: 100%; height: 100%; margin: 0 auto; display: block; image-rendering: pixelated; }
